.abc{
    display: flex;
    justify-content: center;
    margin: 2px;
    margin-bottom: 30px;
    margin-left: 500px;
    width:250px;

}
  .paginationCtn {
    display: inline-block;
    margin-right: 15px;
  }
  
  .paginationCtn a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .paginationCtn a:hover {
    color: white;
  }
  
  .paginationCtn a:hover:not(.active) {background-color: #4CAF50;}

 